

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.Icon_sidebar:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.Icon_sidebar:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}
.searchBar{
  border:none;
  outline:none;
  width:300px;
  border-radius: 20px;
 
  padding-left: 10px;
}
.searchBar::placeholder{
  padding-left: 5px;
  align-items: center;
}

.Icon_sidebar{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  
}
.Navbar{
  display: flex;
  padding: 5px 0px;
}
.css-11d36y0{
  overflow: auto;
  height: auto;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.css-s7pokm-MuiStack-root{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .copyRight{
  font-weight: 500;
  width: 200px;
  font-size: 14px;
} */
/* .Icon_sidebar{

} */

@media screen and (max-width: 900px) {
  .Icon_sidebar{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyRight{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .searchBar{
    width:200px;
  }
}